<div id="main">
    <div id="centerbox">
        <div id="username">
            <mat-form-field>
                 <input matInput placeholder="Username" [(ngModel)]="user">
            </mat-form-field>
        </div>
        <div id=password>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" [(ngModel)]="pwd">
            </mat-form-field>
            <mat-error *ngIf="wrongCredentials">
                Falsche Kombination von Username und Passwort.
            </mat-error>
        </div>
        <div>
            <button mat-raised-button routerLinkActive="active" (click)="login()" color="primary">Login</button>
        </div>
        <div>
            <button id="regist" mat-raised-button routerLink="/register" routerLinkActive="active" color="primary">Registrieren</button>
        </div>
    </div>
</div>