<div>
    <div id="quizname">
        <mat-form-field class="answer">
            <input matInput placeholder="Name">
        </mat-form-field>
    </div>
    <div id="question">
        <mat-form-field class="answer">
            <input matInput placeholder="Frage 1">
        </mat-form-field>
    </div>
    <form id="answersbox">
        <div class="answerdiv">
            <mat-form-field class="answer">
                <input matInput placeholder="Antwort 1">
            </mat-form-field>
            <mat-slide-toggle>Correct?</mat-slide-toggle>
        </div> 
        <div class="answerdiv">
            <mat-form-field class="answer">
                <input matInput placeholder="Antwort 2">
            </mat-form-field>
            <mat-slide-toggle>Correct?</mat-slide-toggle>
        </div>
        <div class="answerdiv">
            <mat-form-field class="answer">
                <input matInput placeholder="Antwort 3">
            </mat-form-field>
            <mat-slide-toggle>Correct?</mat-slide-toggle>
        </div>
        <div class="answerdiv">
            <mat-form-field class="answer">
                <input matInput placeholder="Antwort 4">
            </mat-form-field>
            <mat-slide-toggle>Correct?</mat-slide-toggle>
        </div>
        <button  mat-raised-button color="primary">Erstellen</button>
        <button  mat-raised-button color="primary">Vorherige Frage</button>    
        <button  mat-raised-button color="primary">Nächste Frage</button>     
    </form>
</div>