#answersbox {
    width: 100%;
    float: left;
    min-width: 150px;
}
.answer {
    width: 50%;
    float: left;
    margin-left: 20%;
}

mat-slide-toggle {
    float: left;
    margin-top: 20px;
    margin-left: 15px;
}
.answerdiv {
    height: 70px;
}
button {
    float:left;
    margin-right: 20px;
    margin-bottom: 50px;
}
#quizname {
    margin-top: 75px;
}
#btnFirst {
    margin-left: 20%;
}