#main {
    margin-top:64px;
    width: 100%;
    height: calc(100% - 64px);
    background: url(./question.jpg) no-repeat;
    background-size: contain;
    background-position-x: 95%;
}
#comp {
    position: absolute;
    margin-top: 7%;
    margin-left: 15%;
}
