#main {
    margin-top:64px;
    width: 100%;
    height: 100%;
    background-image: url(./question.jpg);
    background-repeat: no-repeat;
    background-size: 40% 100%;
    background-position-x: 95%;
}
#comp {
    position: absolute;
    margin-top: 7%;
    margin-left: 15%;
}