<mat-toolbar id="main" color="primary">  
    <mat-toolbar-row>
      <span>
          <button  mat-button routerLink="/choose">Quizmaster</button>  
      </span>
      <span>
        <button  mat-button routerLink="/create">Quiz erstellen</button>  
      </span>
      <span class="right">
        <mat-icon svgIcon="usercircle"></mat-icon>
        <button id="user" mat-button>{{username}}</button>  
      </span>
      <span>
        <button  mat-button routerLink="/login">Logout</button>  
      </span>
</mat-toolbar-row>
</mat-toolbar>