<div id="main">
    <ul id="first">
        <li *ngFor="let question of selectedQuiz.questions1"> 
                {{question.points}}    
        </li>
    </ul>
    <ul id="second">
        <li *ngFor="let question of selectedQuiz.questions2">{{question.points}}    </li>
    </ul>
    <ul id="third">
        <li *ngFor="let question of selectedQuiz.questions3">{{question.points}}    </li>
    </ul>
    <ul id="fourth">
        <li *ngFor="let question of selectedQuiz.questions4">{{question.points}}    </li>
    </ul>
    <ul id="fifth">
        <li *ngFor="let question of selectedQuiz.questions5">{{question.points}}    </li>
    </ul> 
</div>